#ceremony-section {
    position: relative;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: "ceremony"
        "party"
        "bus"
        "parking"
        "confirm-assist";
    row-gap: 5em;

    @media (min-width: 780px) {
        & {
            grid-template-columns: max-content max-content;
            grid-template-areas: "ceremony party"
                "bus parking"
                "confirm-assist confirm-assist";
            justify-content: center;
        }
    }

    @media (min-width: 1024px) {
        & {
            column-gap: 10em;
        }
    }

    @media (min-width: 2290px) {
        & {
            margin-top: 50px;
        }
    }

    @media (min-width: 2875px) {
        & {
            margin-top: 120px;
        }
    }

    & #line-background {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../assets/imgs/lineas_background.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
    }

    & #ring-container {
        grid-area: ceremony;
    }

    & #party-container {
        grid-area: party;
    }

    & #bus-container {
        grid-area: bus;

        & .anim-bus {
            position: relative;

            & svg {
                position: absolute;
                inset: 0;

                & path {
                    fill: #81948b;
                }
            }
        }
    }

    & #parking-container {
        grid-area: parking;
    }

    & #assist-button-container {
        grid-area: confirm-assist;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    & #top-left-flowers,
    & #right-bottom-flowers {
        width: 14%;
        min-width: 175px;
        position: absolute;
    }

    & #top-left-flowers {
        z-index: -1;
        top: -100px;
        left: 0;
    }

    & #right-bottom-flowers {
        bottom: -80px;
        right: 0;
        z-index: -1;
    }

    & #ring-container,
    & #party-container,
    & #bus-container,
    & #parking-container {
        max-width: 580px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .ceremony-title-container,
        & .party-title-container,
        & .bus-title-container,
        & .parking-title-container {
            display: flex;
            align-items: center;
            position: relative;

            & h2 {
                font-family: 'CookieRegular', system-ui;
                font-size: 35px;
                color: #fff;
                background-color: #81948B;
                padding: 8px 30px;
            }

            &::before,
            &::after {
                position: absolute;
                z-index: -1;
                mix-blend-mode: darken;
            }

            &::before {
                content: "";
                width: 100%;
                left: -20px;
                background-color: #81948B;
                border-top: 20px solid transparent;
                border-left: 20px solid #faf7f3;
                border-bottom: 20px solid transparent;
            }

            &::after {
                content: "";
                width: 100%;
                right: -20px;
                background-color: #81948B;
                border-top: 20px solid transparent;
                border-right: 20px solid #faf7f3;
                border-bottom: 20px solid transparent;
            }
        }

        & .hour {
            display: flex;
            flex-direction: column;
            gap: 1em;

            & span {
                font-family: FireSansExtralight;
            }
        }

        & .hour,
        & .address {
            text-align: center;

            & h6 {
                padding-bottom: 0;
            }
        }

        & .address {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-top: 30px;
            max-width: 340px;
            min-width: 300px;

            & h6 {
                margin: 0;
            }

            & .addresses-container {
                display: grid;
                grid-template-columns: 1fr;
                gap: 3em;
            }
        }

    }

    & #bus-container {
        & .departure-arrival-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1em;

            @media (min-width: 1400px) {
                & {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }

    & .departure-arrival-hour-container {
        display: flex;
        flex-direction: column;
        gap: .5em;

        & .departure-hour-container,
        & .arrival-hour-container {
            display: flex;
            justify-content: space-between;
            gap: .5em;
        }
    }

    & .departure-arrival-address-container {
        display: flex;
        flex-direction: column;
        gap: .5em;

        & .departure-address-container,
        & .arrival-address-container {
            display: flex;
            justify-content: space-between;
            gap: .5em;

            & span {
                max-width: 200px;
                text-wrap: pretty;
                text-align: left;
            }
        }
    }

    & .parking-pinmap-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: .5em;

        @media (min-width: 780px) {
            & {
                flex-direction: row;
            }
        }

        & .anim-pinmap {
            cursor: pointer;
            display: block;
            width: 65px;
            height: 65px;

            & path {
                fill: #81948b;
            }
        }
    }

    & span {
        font-weight: 400;
        font-size: 18px;

        &.site-name {
            text-transform: uppercase;
        }

        &.departure-title,
        &.arrival-title {
            font-family: 'Open Sans', sans-serif !important;
        }

    }
}

.title {
    font-family: CookieRegular, system-ui;
    text-align: center;
    font-size: 60px;
    color: #4a6360;
}

.circle {
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border-radius: 50%;
    padding: 1em;
}

.anim-anillos,
.anim-fiesta,
.anim-bus,
.anim-parking {
    width: 125px;
    height: 125px;
}

.anim-bus,
.anim-parking {
    & path {
        stroke: #81948b;
    }
}

:root {
    --primary-color: #faf7f3;
    --non-active-secondary-color: rgb(144, 158, 155);
    --secondary-color: rgb(74, 99, 96);
}

.container {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tabs {
    display: flex;
    position: relative;
    background-color: transparent;
    padding: 0.75rem;
    border-radius: 99px;
    gap: 3em;

    * {
        z-index: 2;
    }

    @media (max-width: 700px) {
        & {
            transform: scale(0.8);
        }
    }

    & .tab {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 54px;
        width: fit-content;
        font-size: 1.25rem;
        font-weight: 500;
        transition: color 0.15s ease-in;
        background-color: var(--non-active-secondary-color);

        & button {
            color: var(--primary-color);
            background: none;
            cursor: pointer;
            border: none;
            width: fit-content;
            height: 100%;
            padding-inline: 20px;
            font-size: 14px;
            text-transform: uppercase;
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: inherit;
        }

        &::after {
            right: -25px;
            border-radius: 0 8px 0 0;
            transform: skew(25deg);
        }

        &::before {
            left: -25px;
            border-radius: 8px 0 0 0;
            transform: skew(-25deg);
        }

        &.active {
            z-index: 50;
            background-color: var(--secondary-color);
        }
    }

}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    & iframe {
        height: 100%;
    }
}