---
import Layout from "../layouts/Layout.astro";
import FirstSection from "../components/FirstSection.astro";
import CounterCircle from "../components/CounterCircle.astro";
import CeremonySection from "../components/CeremonySection";
---

<Layout title="Invitación boda Ana & Javier">
	<div id="parallax-portada">
		<img src="../assets/imgs/portada_2.webp" />
	</div>
	<FirstSection />
	<section id="second-section">
		<img src="../assets/imgs/separator.svg" id="separator" />
		<CounterCircle />
	</section>
	<CeremonySection client:load />
</Layout>

<script>
	const parallaxPortada = document.getElementById("parallax-portada");
	const parallaxPortadaImg = parallaxPortada.querySelector("img");
	const xxlQuery = window.matchMedia("(min-width: 1920px)");

	const getBackgroundImgSrc = (match) => {
		let src = `../assets/imgs/`;

		return match ? src + "portada.webp" : src + "portada_2.webp";
	};

	xxlQuery.addEventListener("change", function (e) {
		parallaxPortadaImg.src = getBackgroundImgSrc(e.matches);
	});

	document.addEventListener("DOMContentLoaded", function () {
		parallaxPortadaImg.src = getBackgroundImgSrc(window.innerWidth >= 1920);
	});

	document.addEventListener("scroll", function () {
		parallaxPortada.style.transform = `translate3d(0px, ${window.scrollY * -1}px, 0px)`;

		const scrollYParallaxImg = window.scrollY * 0.5 - 20;
		parallaxPortadaImg.style.transform = `translate3d(0px, ${scrollYParallaxImg}px, 0px)`;
	});
</script>

<style>
	#parallax-portada {
		position: fixed;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100vw;
		height: calc(100% + 150px);

		& img {
			object-fit: cover;
			transform: translate3d(0px, -20px, 0px);
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}

	#info-section-circles-container {
		display: flex;
		justify-content: center;
		gap: 5em;

		> svg {
			position: absolute;
			left: 0;
		}
	}

	#second-section {
		position: relative;
		height: 350px;
		display: flex;
		justify-content: center;

		& #counter-container {
			z-index: 12;
		}

		& #separator {
			position: absolute;
			top: -45px;

			@media (min-width: 580px) {
				& {
					top: -100px;
				}
			}

			@media (min-width: 1080px) {
				& {
					top: -150px;
				}
			}

			@media (min-width: 1720px) {
				& {
					top: -200px;
				}
			}

			@media (min-width: 2290px) {
				& {
					top: -250px;
				}
			}

			@media (min-width: 2875px) {
				& {
					top: -280px;
				}
			}

			@media (min-width: 3225px) {
				& {
					top: -300px;
				}
			}
		}
	}
</style>
