---
import Layout from "../layouts/Layout.astro";
import FirstSection from "../components/FirstSection.astro";
import CounterCircle from "../components/CounterCircle.astro";
---

<Layout title="Invitación boda Ana & Javier">
	<div id="parallax-portada">
		<img src="/src/assets/imgs/portada-1.webp" />
	</div>
	<FirstSection />
	<section id="second-section">
		<CounterCircle />
	</section>
	<section id="ceremony-section">
		<div id="ring-container">
			<div class="anim-anillos circle"></div>
			<div class="ceremony-title-container">
				<h2>Ceremonia</h2>
			</div>
			<div class="hour">
				<h6>Hora</h6>
				<span>12:00h</span>
			</div>
			<div class="address">
				<h6>Lugar</h6>
				<div style="display: flex; flex-direction: column; gap: .5em;">
					<span class="site-name"><b>Centro cultural Gómez Tortosa</b></span>
					<span class="site-address">Carrer Major, 6, Novelda, Alicante</span>
				</div>
				<a href="https://maps.app.goo.gl/xKNxoUs1ax7qy1aM6" class="button">¿Cómo llegar?</a>
			</div>
		</div>
		<div id="party-container">
			<div class="anim-fiesta circle"></div>
			<div class="party-title-container">
				<h2>Celebración</h2>
			</div>
			<div class="hour">
				<h6>Hora</h6>
				<span>13:00h</span>
			</div>
			<div class="address">
				<h6>Lugar</h6>
				<div style="display: flex; flex-direction: column; gap: .5em;">
					<span class="site-name"><b>Quinta Lacy</b></span>
					<span class="site-address">Av. San Luis de Cuba, 1, Elda, Alicante</span>
				</div>
				<a href="https://maps.app.goo.gl/xQHDi6eHjVE3hsvf7" class="button">¿Cómo llegar?</a>
			</div>
		</div>
		<div id="assist-button-container" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
			<h2>¡Te esperamos!</h2>
			<a href="/confirmar-asistencia" class="button">Confirmar Asistencia</a>
		</div>
	</section>
</Layout>

<style>
	#parallax-portada {
		position: fixed;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100vw;
		height: calc(100% + 300px);

		& img {
			object-fit: cover;
			transform: translate3d(0px, -90px, 0px);
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}

	#info-section-circles-container {
		display: flex;
		justify-content: center;
		gap: 5em;

		> svg {
			position: absolute;
			left: 0;
		}
	}

	#second-section {
		position: relative;
		height: 250px;
		display: flex;
		justify-content: center;
	}

	#ceremony-section {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "ceremony"
							 "party"
							 "confirm-assist";
		font-family: 'Open Sans', sans-serif;
		color: #81948B;
		row-gap: 2em;
		column-gap: 5em;

		@media (min-width: 590px) {
			& {
				grid-template-columns: max-content max-content;
				grid-template-areas: "ceremony . party"
									 "confirm-assist confirm-assist confirm-assist";
				justify-content: center;
			}
		}

		& #ring-container {
			grid-area: ceremony;
		}

		& #party-container {
			grid-area: party;
		}

		& #assist-button-container {
			grid-area: confirm-assist;
			display: flex;
			width: 100%;
			justify-content: center;
		}

		& #ring-container,
		& #party-container {
			max-width: 580px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			
			& .ceremony-title-container,
			& .party-title-container {
				display: flex;
				align-items: center;
				position: relative;

				& h2 {
					font-family: 'CookieRegular', system-ui;
					font-size: 35px;
					color: #fff;
					background-color: #81948B;
					padding: 8px 30px;			
				}

				&::before,
				&::after {
					position: absolute;
					z-index: -1;
				}

				&::before {
					content: "";
					width: 100%;
					left: -20px;
					background-color: #81948B;
					border-top: 20px solid transparent;
					border-left: 20px solid #faf7f3;
					border-bottom: 20px solid transparent;
				}
				
				&::after {
					content: "";
					width: 100%;
					right: -20px;
					background-color: #81948B;
					border-top: 20px solid transparent;
					border-right: 20px solid #faf7f3;
					border-bottom: 20px solid transparent;
				}
			}

			& .hour,
			& .address {
				text-align: center;

				& h6 {
					font-size: 25px;
					margin: 0 0 .5em 0;
				}
			}

			& .address {
				display: flex;
				flex-direction: column;
				gap: 1em;
				margin-top: 3em;

				& h6 {
					margin: 0;
				}
			}

		}

		& span {
			font-weight: 400;
			font-size: 18px;

			&.site-name {
				text-transform: uppercase;
			}
		}
	}

	a.button {
		all: unset;
		text-align: center;
		border-radius: 50px;
		background-color: #fff;
		box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.40);
		cursor: pointer;
		padding: 13px 30px;
		border: none;
		text-transform: uppercase;
		font-weight: 700;

		transition: all 0.5s 0s ease;

		&:hover {
			background-color: #81948B;
			color: #fff;
		}
	}

	.title {
		font-family: CookieRegular, system-ui;
		text-align: center;
		font-size: 60px;
		color: #4a6360;
	}

	.circle {
		box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
		background-color: #fff;
		border-radius: 50%;
		padding: 1em;
	}

	.anim-anillos,
	.anim-fiesta  {
		width: 125px;
		height: 125px;
	}
</style>

<script>
	import lottie from 'lottie-web';

	document.addEventListener("scroll", function () {
		const parallaxPortada = document.getElementById("parallax-portada");
		parallaxPortada.style.transform = `translate3d(0px, ${window.scrollY * -1}px, 0px)`;

		const parallaxPortadaImg = parallaxPortada.querySelector("img");
		const scrollYParallaxImg = window.scrollY * 0.6 - 90;
		parallaxPortadaImg.style.transform = `translate3d(0px, ${scrollYParallaxImg}px, 0px)`;
	});

	// Animación anillos
	let svgContainerAnillos = document.querySelector('.anim-anillos');

    let animAnillos = lottie.loadAnimation({
      container: svgContainerAnillos,
      renderer: 'svg',
      loop: true,
	  autoplay: true,
      path: 'src/assets/animations/anim_ceremonia.json'
    });

    animAnillos.play();


    let svgContainerFiesta = document.querySelector('.anim-fiesta');

    let animFiesta = lottie.loadAnimation({
      container: svgContainerFiesta,
      renderer: 'svg',
      loop: true,
	  autoplay: true,
      path: 'src/assets/animations/anim_fiesta.json'
    });

    animFiesta.play();
  
</script>
