<section id="fron-page-section">
    <div id="left-top-flower"></div>
    <div id="right-middle-flower"></div>
    <div id="couple-names-container">
        <div>
            <div id="couple-names">
                <span class="name">Ana</span>
                <span id="and">&</span>
                <span class="name">Javier</span>
            </div>
            <span>05/10/2024</span>
        </div>
    </div>
</section>

<script>
    import lottie from "lottie-web";

    const leftTopFlower = document.querySelector("#left-top-flower");
    const rightMiddleFlower = document.querySelector("#right-middle-flower");

    if (leftTopFlower) {
        let animLeftTopFlower = lottie.loadAnimation({
            container: leftTopFlower,
            renderer: "svg",
            loop: false,
            autoplay: true,
            path: "../public/assets/animations/hojas_top_flower.json",
        });

        animLeftTopFlower.play();
    }

    if (rightMiddleFlower) {
        let animRightMiddleFlower = lottie.loadAnimation({
            container: rightMiddleFlower,
            renderer: "svg",
            loop: false,
            autoplay: true,
            path: "../public/assets/animations/hojas_right_middle_flower.json",
        });

        animRightMiddleFlower.play();
    }
</script>

<style>
    section {
        position: relative;
        height: calc(100dvh + 150px);
    }

    section::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(74, 79, 96, 0.65);
        z-index: 0;
        top: 0;
        left: 0;
    }

    #left-top-flower {
        position: absolute;
        top: -30px;
        left: 0;
        min-width: 150px;
        max-width: 300px;
        width: 20%;
        z-index: 2;
    }

    #right-middle-flower {
        position: absolute;
        bottom: 27%;
        right: 0;
        width: 14%;
        min-width: 200px;

        @media (min-width: 710px) {
            & {
                bottom: 20%;
                min-width: 250px;
            }
        }

        @media (min-width: 980px) {
            & {
                min-width: 300px;
            }
        }

        /* @media (max-width: 800px) {
            & {
                display: none;
            }
        } */
    }

    #couple-names-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #couple-names {
        width: -webkit-fill-available;
        font-family: Amsterdam, CormorantGaramondMedium, system-ui !important;
        font-size: 3.5em;
        padding-bottom: 3em;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #eeeeee;

        @media (min-width: 450px) {
            & {
                font-size: 5.5em;
                padding-bottom: 2em;
            }
        }
    }

    #and {
        position: absolute;
        font-size: 3em;
        opacity: 0.4;
    }
</style>
