<section id="fron-page-section">
    <div id="left-top-flower"></div>
    <div id="right-middle-flower"></div>
    <div id="couple-names-container">
        <div id="names-and-date-container">
            <div id="couple-names">
                <div>
                    <span class="name">Ana</span>
                    <span id="and">&</span>
                    <span class="name">Javier</span>
                </div>
                <span id="date">05/10/2024</span>
            </div>
        </div>
    </div>
</section>

<script>
    import lottie from "lottie-web";

    const leftTopFlower = document.querySelector("#left-top-flower");
    const rightMiddleFlower = document.querySelector("#right-middle-flower");

    if (leftTopFlower) {
        let animLeftTopFlower = lottie.loadAnimation({
            container: leftTopFlower,
            renderer: "svg",
            loop: false,
            autoplay: true,
            path: "../assets/animations/hojas_top_flower.json",
        });

        animLeftTopFlower.play();
    }

    if (rightMiddleFlower) {
        let animRightMiddleFlower = lottie.loadAnimation({
            container: rightMiddleFlower,
            renderer: "svg",
            loop: false,
            autoplay: true,
            path: "../assets/animations/hojas_right_middle_flower.json",
        });

        animRightMiddleFlower.play();
    }
</script>

<style>
    section {
        position: relative;
        height: calc(100dvh + 150px);
    }

    section::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(74, 79, 96, 0.65);
        z-index: 0;
        top: 0;
        left: 0;
    }

    #left-top-flower {
        position: absolute;
        top: -30px;
        left: 0;
        min-width: 150px;
        max-width: 300px;
        width: 20%;
        z-index: 2;
    }

    #right-middle-flower {
        position: absolute;
        bottom: 23%;
        right: 0;
        width: 20%;
        min-width: 130px;

        @media (min-width: 710px) {
            & {
                bottom: 20%;
                min-width: 250px;
            }
        }

        @media (min-width: 980px) {
            & {
                min-width: 300px;
                max-width: 450px;
            }
        }

        /* @media (max-width: 800px) {
            & {
                display: none;
            }
        } */
    }

    #couple-names-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (min-width: 1920px) {
            & {
                /* justify-content: start;
                padding-block: 3em; */

                & #couple-names {
                    font-size: 5em;
                }
            }
        }

        & #names-and-date-container {
            width: 100%;
            text-align: center;
            max-width: 360px;
            padding-top: 5rem;

            @media (min-width: 709px) {
                & {
                    padding-top: 20rem;
                    max-width: 450px;
                }
            }
            @media (min-width: 980px) {
                & {
                    max-width: 650px;
                }
            }

            @media (min-width: 1919px) {
                & {
                    max-width: 650px;
                }
            }
        }
    }

    #couple-names {
        font-family: Amsterdam, CormorantGaramondMedium, system-ui !important;
        font-size: 2.5em;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #eeeeee;

        @media (min-width: 709px) {
            & {
                font-size: 3.5em;
            }
        }

        @media (min-width: 980px) {
            & {
                font-size: 5em;
            }
        }

        & #date {
            display: flex;
            align-items: center;
            gap: 0.5em;
            position: relative;
            z-index: 1;
            /* background-color: #c6d7cf;
                color: #4a6360; */
            font-size: 0.7em;
            font-family: Amsterdam;
            width: calc(100% - 20px);

            @media (min-width: 709px) {
                & {
                    width: 100%;
                }
            }

            &::after,
            &::before {
                content: "";
                border-top: 2px solid #eeeeee;
                width: 100%;
                display: flex;
            }
        }
    }

    #and {
        font-size: 1em;
        opacity: 0.4;
        margin-left: 0.5em;
    }
</style>
