---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<script src="https://cdnjs.com/libraries/bodymovin" type="text/javascript"></script>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
	<footer>
		<h1>¿Alguna duda? ¡Contacta con nosotros!</h1>
		<div id="tel-info-container">
			<div class="tel-info">
				<span class="name">Javier</span>
				<span class="tel"><a href="tel:+34664146132">664146132</a></span>
			</div>
			<div class="tel-info">
				<span class="name">Ana</span>
				<span class="tel"><a href="tel:+34639526033">639526033</a></span>
			</div>
		</div>
	</footer>
</html>
<style is:global>
	@font-face {
		font-family: Amsterdam;
		src: url(/fonts/amsterdam-four.ttf);
	}

	@font-face {
		font-family: CormorantGaramondMedium;
		src: url(/fonts/cormorant-garamond-medium.ttf);
	}

	@font-face {
		font-family: CookieRegular;
		src: url(/fonts/Cookie-Regular.ttf);
	}

	html {
		width: 100vw;
		height: 100vh;
	}

	body {
		background-color: #faf7f3;
		margin: 0;
		padding: 0;
		z-index: -1;
		overflow-x: hidden;
		font-family: CormorantGaramondMedium, system-ui;
	}

	section, footer {
		padding-inline: 1em;
	}

	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-block: 2em;
		color: #81948B;

		& h1 {
			text-align: center;
			font-family: 'CookieRegular', system-ui;
			font-weight: normal;
			font-size: 3em;
			text-wrap: pretty;
		}
	}

	#tel-info-container {
		display: flex;
		gap: 5em;

		
		& .tel-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: fit-content;
			gap: .5em;
	
			& .name {
				font-family: Amsterdam, system-ui;
				font-size: 30px;
			}
	
			& .tel {
				font-family: 'Open Sans', sans-serif;
			}

			& a {
				all: unset;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
</style>
